{
  "environment": "development",
  "mongodb": {
    "host": "localhost",
    "port": 27017,
    "database": "horologium"
  },
  "authentication": {
    "jwtSecret": "RANDMON STRING",
    "jwtExpiration": "30m"
  }
}
